body {
      font-family: 'LANENAR';
}

@font-face {
  font-family: 'LANENAR';
  src: url('../fonts/LANENAR_.ttf');
}

h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 80pt;
}

li {
    list-style-type: none;
}

#sign_up_button {
                 float: right;
                 border-radius: 4px;
                 text-decoration: none;
                 border: 2px solid black;
                 height: 35px;
                 width: 80px;
                 padding-top: 12px;
                 font-size: 20px;
}

#sign_up_button:hover {
                       background-color: #DFDDE0;
}

#sign_up_button:visited {
                      color: black;
}

#sign_up_button:active {
                        background-color: #C5C4C7;
}

#sign_in_button {
                 margin-right: 15px;
                 margin-left: 10px;
                 float: right;
                 border-radius: 4px;
                 text-decoration: none;
                 border: 2px solid black;
                 height: 35px;
                 width: 80px;
                 padding-top: 12px;
                 top: -10px;
                 font-size: 20px;
}

#sign_in_button:hover {
                       background-color: #DFDDE0;
}

#sign_in_button:visited {
                         color: black;
}

#sign_in_button:active {
                        background-color: #C5C4C7;
}

#peep_display {
               margin-top: 10px;
               border-radius: 4px;
               text-decoration: none;
               border: 2px solid black;
               width: 600px;
               font-size: 17px;
}

#peep_text {
            background-color: #FFAC3B;
            margin: 4px;
            border-radius: 4px;
            font-size: 25px;
            padding: 3px;
            font-weight: bold;
}

#peep_info {
            padding: 3px;
            background-color: #E4E2E5;
            margin: 4px;
            border-radius: 4px;
}