<h1>Chitter Registration</h1>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  There are some issues...
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/' autocomplete="off" method="post">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Username" name="username">
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Register">
</form>