<!DOCTYPE html>
<html>
  <center>
    <head>
      <title>Chitter</title>
      <link rel="stylesheet" type="text/css" href="reset.css"/>
      <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    </head>
    <body>
        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:errors] && !flash[:errors].empty? %>
          There are some issues...
          <ul id="errors">
            <% flash[:errors].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
        <%= yield %>
    </body>
  </center>
</html>